<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Это приложение использует LAN для поиска и подключения к устройствам.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Это приложение использует Bluetooth для поиска и подключения к устройствам.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Это приложение использует Bluetooth для связи с внешними устройствами.</string>
</dict>
</plist>
